.grid {
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(5, 50px);
  gap: 5px;
}
.blue {
  background-color: cornflowerblue;
  grid-row: 1;
  grid-column: 1/6;
}
.green {
  background-color: lightgreen;
}
.dark_green {
    background-color: forestgreen;
}
.gray {
  background-color: lightgray;
  grid-row: 2;
  grid-column: 1/2;
}
